<h1>{{ title }}</h1>

<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.controls)">
  <input type="text" placeholder="Enter user name" name="name" ngModel>

  <br><br>

  <input type="password" placeholder="Enter password" name="passowrd" ngModel>
  <br><br>

  <button>Login</button>

</form>


<button (click)="userLogin(loginForm.value)">Out Side Form Login</button> -->
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input
    type="text"
    placeholder="Enter Name"
    name="user"
    formControlName="user"
  />
  <br />

  <span style="color: red" *ngIf="user && user.invalid && user.touched">
    Should have valid email id</span
  >

  <br />
  <input
    type="password"
    placeholder="Enter password"
    name="passowrd"
    formControlName="password"
  />
  <br />

  <span
    style="color: red"
    *ngIf="password && password.invalid && password.touched"
  >
    Should have valid password</span
  >
  <br /><br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>
